.picture{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.lang-logo{
  height: 100px;
  width: 100px;
}

.outsidelinks{
  align-self: center;
  font-size: 36px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.img-fluid{
  width: 100%;
  height: 250px;
}

h3 {
  color: white;
}

.service-box:hover h3 {
  color: black;
  transition: color 0.5s;
}
